.container
  %br
  .row

    .sign-up.col-md-4.col-md-offset-4
      %h3 Sign up
      %br



      = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        -#= devise_error_messages!
        .col-md-8
          .form_inputs
            = f.text_field :first_name, required: true, placeholder: 'first name'
            = f.text_field :last_name, required: true, placeholder: 'last name'
            = f.select :level, %w(Committee Welfare\ Officer Swimmer Parent Coach)
            = f.email_field :email, required: true, placeholder: 'email'
            = f.password_field :password, required: true, placeholder: 'password'
            = f.password_field :password_confirmation, required: true
            %br
            -#= show_simple_captcha :label => 'Enter code'
            %br

          .form-actions
            = f.submit 'Sign Up', :class=>'btn btn-primary btn-lg active'
            %br
            %br
            %br
  %br
  %br

