
#calendar
  .container
    %br
    .row
      .col-md-3.col-md-offset-4.alert.alert-info.text-center
        %h3 Club Calendar
      %br


    .row

      .col-md-2.col-md-offset-1
        %h1
        %br
        = link_to 'Add New Event',new_event_path, class: '.btn btn-primary btn-lg'

      .col-md-3.col-md-offset-8
        %h3.alert.alert-success.text-center

          %ularrow= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d")
          %mon= @date.strftime("%B %Y")
          %ularrow= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d")

    .row

      .col-md-10.col-md-offset-1

        = calendar_for @events, :year => @date.year, :month => @date.month do |calendar|
          = calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
          - calendar.day(:day_method => :date) do |date, events|
            = date.day
            %p

            - for event in events
              .event-link
                %a
                  = link_to h(event .title), event
        %br

