// User Edit page for admins

%h1= "Edit Approval status and roles for #{@user.first_name} #{@user.last_name}"

= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.association :roles,as: :check_boxes, only: 'Parent' do

  .form-actions
    = f.button :submit
%br
%br

=link_to('<i class="icon-circle-arrow-left"></i> Back'.html_safe,users_path)
