.container
  .row
    .col-md-8.col-md-offset-2
      %h3 Awaiting Approval Users
      %table.table.table-striped.table-responsive.table-customstyle
        %thead
          %tr
            %th First Name
            %th Last Name
            %th Email
            %th Level
            %th Action

        - @awaiting_users.each do |user|
          %tbody
          %tr
            %td= user.first_name
            %td= user.last_name
            %td= user.email
            %td= user.level
            %td
              %a.btn.btn-success{href: user_path(user), role: 'button'} view


      %br
      %hr
    .col-md-8.col-md-offset-2
      %h3 Approved Users
      %table.table.table-striped.table-responsive.table-customstyle
        %thead

          %tr
            %th First Name
            %th Last Name
            %th Email
            %th Level
            %th Action

        - @approved_users.each do |user|
          %tbody
            %tr
              %td= user.first_name
              %td= user.last_name
              %td= user.email
              %td= user_levels user
              -#%td= user.level
              %td
                -#%a.btn.btn-primary{href: swimmer_path(user.get_swimmer user.id), role: "button"} view
                %a.btn.btn-success{href: user_path(user), role: 'button'} view



      %br
      %hr


-#
-#%script
-#  $('.table').each(function(){
-#  var v = $('#iman').width();
-#  -#$('.table').css('width',v)
-#  -#$('.table').width() = v
-#  -#alert(v);
-#  });
-#  -#$('hr').css('width',$('#ti').width())
-#  $('hr').css('width',$('#ti').width())
