.container
  %br
  .row
    .col-md-5.col-md-offset-3
      .alert.alert-info.text-center
        %h4= "#{@user.first_name} #{@user.last_name}'s profile"

      %table.table
        %tr
          %th First Name
          %td= @user.first_name
        %tr
          %th Last Name
          %td= @user.last_name
        %tr
          %th Email
          %td= @user.email
        %tr
          %th Level(s)
          %td= user_levels @user
    .col-md-2.col-md-offset-3
  .row

    -if @user.level == 'Swimmer'
      .col-md-5.col-md-offset-3
        .alert.alert-info.text-center
          %h4= 'Your details'
        %table.table
          %thead
            %tr
              %th ASA Number
              %td= @user.swimmer.asa_number
            %tr
              %th ASA Category
              %td= @user.swimmer.asa_category
            %tr
              %th Current Squad
              %td= @user.swimmer.current_squad
            %tr
              %th Sex
              %td= @user.swimmer.sex
            %tr
              %th DOB
              %td= @user.swimmer.date_of_birth
            %tr
              %th Ethnic
              %td= @user.swimmer.ethnic
            %tr
              %th Photo Consent
              %td= @user.swimmer.photo_consent

              -#%a.btn.btn-primary{href: user_path(user), role: "button"} view
  .row
    -if @user.level == 'Swimmer' || @user.level == 'Parent'

      .col-md-5.col-md-offset-3
        .alert.alert-info.text-center
          %h4 Your address
        = render partial: 'shared/address', locals: {address: @user.swimmer.address} if @user.level == 'Swimmer'
        = render partial: 'shared/address', locals: {address: @user.parent.address} if @user.level == 'Parent'

  .row
    - if @user.level == 'Parent' && !@user.parent.swimmers.empty?
      .col-md-5.col-md-offset-3
        .alert.alert-info.text-center
          %h4 Your Child/Children
        %table.table
          %thead
            - @user.parent.swimmers.each do |swimmer|
              %tr
                %td= "#{swimmer.user.first_name} #{swimmer.user.last_name}"


  .row
    .col-md-2.col-md-offset-3
      - if @user.level == 'Swimmer'
        =link_to 'Edit Your Details', edit_swimmer_path(@user.swimmer), class: 'btn btn-lg btn-primary'
        =link_to 'Edit Your Account', edit_registration_path(@user), {class: 'btn btn-lg btn-primary', style: 'margin-top:13px'}
      - elsif @user.level == 'Parent'
        =link_to 'Edit Your Details', edit_parent_path(@user.parent), class: 'btn btn-lg btn-primary'
        =link_to 'Edit Your Account', edit_registration_path(@user), {class: 'btn btn-lg btn-primary', style: 'margin-top:13px'}
      -else
        -#= @user.level
        = link_to 'Edit Your Account', edit_registration_path(@user), class: 'btn btn-lg btn-primary'

%br

