.container
  %br
  .row
    .col-md-5.col-md-offset-3
      .alert.alert-info.text-center
        %h4= "#{@user.first_name} #{@user.last_name}'s profile"

      %table.table
        %tr
          %th First Name
          %td= @user.first_name
        %tr
          %th Last Name
          %td= @user.last_name
        %tr
          %th Email
          %td= @user.email
        %tr
          %th Level(s)
          %td= user_levels @user
    .col-md-2.col-md-offset-3
      %br
      -#%a.btn.btn-primary.btn-lg{href:edit_user_registration_path(@user) , role: "button"} Generate User Report
  .row
    -if @user.level == 'Swimmer'
      .col-md-5.col-md-offset-3
        .alert.alert-info.text-center
          %h4= "#{@user.first_name} #{@user.last_name}'s details"
        %table.table
          %thead
            %tr
              %th ASA Number
              %td= @user.swimmer.asa_number
            %tr
              %th ASA Category
              %td= @user.swimmer.asa_category
            %tr
              %th Current Squad
              %td= @user.swimmer.current_squad
            %tr
              %th Sex
              %td= @user.swimmer.sex
            %tr
              %th DOB
              %td= @user.swimmer.date_of_birth
            %tr
              %th Ethnic
              %td= @user.swimmer.ethnic
            %tr
              %th Photo Consent
              %td= @user.swimmer.photo_consent

              -#%a.btn.btn-primary{href: user_path(user), role: "button"} view
  .row
    -if @user.level == 'Swimmer' || @user.level == 'Parent'

      .col-md-5.col-md-offset-3
        .alert.alert-info.text-center
          %h4 Address
        = render partial: 'shared/address', locals: {address: @user.swimmer.address} if @user.level == 'Swimmer'
        = render partial: 'shared/address', locals: {address: @user.parent.address} if @user.level == 'Parent'

  .row
    .col-md-5.col-md-offset-3
      %hr
      .alert.alert-warning
        %h4 Users should have at least one role in the system
      = simple_form_for(@user) do |f|
        = f.label 'Approved: '
        = f.check_box :approved
        = f.association :roles, as: :check_boxes
        = f.submit 'Submit', :class=>'btn btn-success btn-lg active'

  .row
    .col-md-5.col-md-offset-3
      %br
      =button_to  'Delete', user_path(@user), method: :delete, data: {confirm: 'Are you sure'},id:'approve-btn', class: 'col-md-5.col-md-offset-9 btn btn-lg btn-danger', style: 'margin-left:1px;box-shadow: 0'
      -#=button_to 'Approve', user_path(@user), method: :put,id:'approve-btn', class: 'btn btn-lg btn-success' unless @user.approved
      -#=button_to 'Suspend', user_path(@user), method: :put,id:'approve-btn', class: 'col-md-5.col-md-offset-3 btn btn-lg btn-success' if @user.approved

  .row
    .col-md-5.col-md-offset-3
      %br
      =link_to('<i class="icon-circle-arrow-left "></i> Back'.html_safe,users_path)
  %br


:javascript
   var element1 = $("label:contains('Parent')");
   var element2 = $("label:contains('Swimmer')");
   element1.hide();
   element2.hide();
  $('#user_role_ids_2').hide();
  $('#user_role_ids_3').hide();

