%h1 Your Address
= f.text_field :line1, control_col: "col-sm-6",label: 'Line 1:'
= f.text_field :line2, control_col: "col-sm-6",label: 'Line 2:'
= f.text_field :city, control_col: "col-sm-3",label: 'City/town:'
= f.text_field :postcode, control_col: "col-sm-3",label: 'Postcode:'
= f.telephone_field :telephone, control_col: "col-sm-3",label: 'Telephone:'
= f.phone_field :emergency_contact, control_col: "col-sm-4",label: 'Emergency Contact:'
-#= f.text_field :addressable_type
