%table.table
  %thead
    %tr
      %th Line1
      %td= address.line1
    %tr
      %th Line2
      %td= address.line2
    %tr
      %th City
      %td= address.city
    %tr
      %th Postcode
      %td= address.postcode
    %tr
      %th Telephone
      %td= address.telephone
    %tr
      %th Emergency Contact
      %td= address.emergency_contact