.container
  .page-header{style: 'text-align:center'}
    %h2 Register
  .row

    .signup.col-md-8.col-md-offset-2
      %br

      -#= bootstrap_form_for (@swimmer, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f|
      = bootstrap_form_for(@swimmer,html: {onsubmit:'return go()' } )do |f|
        -#- if @swimmer.errors.any?
        -#  #error_explanation
        -#    %h2= "#{pluralize(@swimmer.errors.count, "error")} prohibited this swimmer from being saved:"
        -#    %ul
        -#      - @swimmer.errors.full_messages.each do |msg|
        -#        %li= msg

        .col-md-4
          =f.text_field :asa_number, label: 'ASA Number'
          =f.select :asa_category,Swimmer::ASA_CATEGORY,label: 'ASA Category:'
          =f.select :current_squad,Swimmer::CURRENT_SQUAD, label: 'Current Squad:'
          =f.select :ethnic, Swimmer::ETHNICITY, label:'Ethnicity'
          =f.text_field :date_of_birth


          = f.form_group :sex, label: { text: 'Gender:' } do
            = f.radio_button :sex, 'Male', label: 'Male', inline: true
            = f.radio_button :sex,'Female', label: 'Female', inline: true

          = f.form_group :photo_consent, label: { text: 'Photo Consent:' } do
            = f.radio_button :photo_consent, 'Yes', label: 'Yes', inline: true
            = f.radio_button :photo_consent, 'No', label: 'No', inline: true

          = f.hidden_field :user_id, value: session[:temp_user_id]
          %hr
          = f.fields_for :address do |address|
            = render partial: 'shared/address', locals: {f: address}


          .actions
            = f.submit 'Save'


