.row

  .sign-up.col-md-8.col-md-offset-2
    %br

    = bootstrap_form_for(@swimmer,html: {onsubmit:'return go()' } )do |f|
      -#- if @swimmer.errors.any?
      -#  #error_explanation
      -#    %h2= "#{pluralize(@swimmer.errors.count, "error")} prohibited this swimmer from being saved:"
      -#    %ul
      -#      - @swimmer.errors.full_messages.each do |msg|
      -#        %li= msg

      .col-md-4
        =f.text_field :asa_number, label: 'ASA Number:', required: true
        =f.text_field :asa_category,label: 'ASA Category:', required: true
        -#=f.select :asa_category,Swimmer::ASA_CATEGORY,label: 'ASA Category:'
        =f.select :current_squad,Swimmer::CURRENT_SQUAD, label: 'Current Squad:'
        =f.select :ethnic, Swimmer::ETHNICITY, label:'Ethnicity:'
        =f.text_field :date_of_birth,required: true

        =f.form_group :email_parent do
          =f.check_box :email_parent


        = f.form_group :sex, label: { text: 'Gender:' } do
          = f.radio_button :sex, 'Male', label: 'Male', inline: true
          = f.radio_button :sex,'Female', label: 'Female', inline: true

        = f.form_group :photo_consent, label: { text: 'Photo Consent:' } do
          = f.radio_button :photo_consent, 'Yes', label: 'Yes', inline: true
          = f.radio_button :photo_consent, 'No', label: 'No', inline: true

        = f.hidden_field :user_id, value: session[:temp_swimmer_user_id] unless current_user
        = f.hidden_field :user_id, value: current_user.id if current_user
        %hr
        = f.fields_for :address do |address|
          .alert.alert-warning
            %h4 Your Address
          = render partial: 'shared/address_form', locals: {f: address}
        %br
        .alert.alert-warning
          %h4 Medical Conditions

        = f.fields_for :medical_condition do |condition|
          = condition.text_area :medical_history
          = condition.text_area :medication
          = condition.text_field :allergies
          = condition.select :disability, MedicalCondition::DISABILITY
          = condition.text_field :doctor
          = condition.fields_for :address do |address|
            .alert.alert-warning
              %h4 Your Doctor's Address
            = render partial: 'shared/address_form', locals: {f: address}



        .actions
          %br
          = f.submit 'Submit', :class=>'btn btn-primary btn-lg active'
          %br
          %br
          =link_to 'Cancel', cancel_swimmer_registration_swimmers_path(:temp_swimmer_user_id),data: {confirm: 'Are you sure?'}, class: 'col-md-4 btn  btn-danger' unless current_user
          %br
          %br
            -#=button_tag   'Cancel', user_path(:temp_swimmer_user_id), method: :delete, data: {confirm: 'Are you sure'}, class: 'btn btn-lg btn-danger'
        -#= button_to  'Cancel', { action: 'destroy', id: :temp_swimmer_user_id }, method: :delete, data: {confirm: 'Are you sure?'}





