.container
  .row
    .col-md-8.col-md-offset-2
      %h3 Payment History
      %table.table.table-striped.table-responsive.table-customstyle
        %thead
          %tr
            %th Swimmer
            %th Details
            %th Amount
            %th Due date
            %th Paid date
            %th


        - @swimmer.payments.each do |payment|
          %tr
            %td= payment.swimmer.swimmer_name
            %td= truncate(strip_tags(payment.details), length: 10)
            %td= payment.amount
            %td= payment.due_date
            - if payment.paid
              %td= payment.paid_date
            -else
              %td= 'N/A' unless payment.paid
            %td
              %a.btn.btn-success{href: payment_path(payment), role: 'button'} View
            -#%td= link_to 'Show', payment
            -#%td= link_to 'Edit', e
            -#%td= link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .row
    .col-md-5.col-md-offset-2
      %br
      %br

%br
%br

