.container
  .row
    .col-md-5.col-md-offset-3
      .alert.alert-info.text-center
        %h4= "Payment For #{@payment.swimmer.swimmer_name}"

      %table.table.alert.alert-success
        %tr
          %th Details:
          %td= @payment.details
        %tr
          %th Amount:
          %td= @payment.amount
        - if @payment.paid
          %tr
            %th Was Due:
            %td= @payment.due_date
          %tr
            %th Paid Date:
            %th= @payment.paid_date
        - else
          %tr
            %th Due Date:
            %td= @payment.due_date

        %tr
      - if (current_user.role? 'Administrator')|| (current_user.role? 'Committee')
        = payment_navigation_links @payment
      - elsif current_user.role? 'Swimmer'
        =link_to('<i class="icon-circle-arrow-left"></i> Back'.html_safe,payment_swimmer_path(current_user.swimmer))

