.container
  .page-header{style: 'text-align:center'}
    %h2 Register
  .row.sign-up

    .go.col-md-4.col-md-offset-1

      %br

      = bootstrap_form_for(@parent)do |f|

        .col-md-9
          =f.select :relation,Parent::RELATION,label: 'Relation:'
          =f.hidden_field :user_id, value: session[:temp_parent_user_id]
          %input{type: 'hidden',name: 'swimmer[ids][]', require: true}

          %hr
          = f.fields_for :address do |address|
            = render partial: 'shared/address', locals: {f: address}

          .actions
            = f.submit 'Sign Up',{class: 'btn btn-primary btn-large',id:'parent_submit'}
            %br
            %br

            =link_to 'Cancel', cancel_parent_registration_parents_path(:temp_parent_user_id),data: {confirm: 'Are you sure?'}, class: 'col-md-2-col-md-offset-3 btn  btn-danger'

          %br
          %br


            -#= select_tag 'swimmer_ids[]', options_for_select(@swimmers.collect{ |u| [u.swimmer_name, u.id] },{:multiple => :multiple, :size => 10})
    .col-md-3
      %br
      %h4 Your Child/Children
      #child_form= render 'child_form'
      #check
    .col-md-2.col-md-offset-1
      %br
      %br
        #parent-swimmer
          %ol
            #swimmer




:javascript



