.container
  .page-header{style: 'text-align:center'}
    %h2#h2sample Register
  .row.sign-up

    .go.col-md-4.col-md-offset-1

      %br

      = bootstrap_form_for(@parent)do |f|
        -#- if @swimmer.errors.any?
        -#  #error_explanation
        -#    %h2= "#{pluralize(@swimmer.errors.count, "error")} prohibited this swimmer from being saved:"
        -#    %ul
        -#      - @swimmer.errors.full_messages.each do |msg|
        -#        %li= msg

        .col-md-9
          =f.select :relation,Parent::RELATION,label: 'Relation:'
          =f.hidden_field :user_id, value: session[:temp_user_id]
          -#=f.hidden_field :user_ids[], value: [], ids
          -##ids.input= check_box_tag 'swimmer_ids[]', options_for_select(@swimmers.collect{ |u| [u.swimmer_name, u.id] },{:multiple => :multiple, :size => 10})
          -##ids.input= select_tag 'swimmer_ids[]'

          %hr
          = f.fields_for :address do |address|
            = render partial: 'shared/address', locals: {f: address}

          .actions
            = f.submit 'Save',{class: 'btn btn-primary btn-large'}


            -#= select_tag 'swimmer_ids[]', options_for_select(@swimmers.collect{ |u| [u.swimmer_name, u.id] },{:multiple => :multiple, :size => 10})
    .col-md-3
      %br
      %h4 Your Child/Children
      #child_form= render 'child_form'
      #check
    .col-md-2.col-md-offset-1
      %br
      %br
        #parent-swimmer
          %ol
            #swimmer




