.container
  .page-header{style: 'text-align:center'}
    %h2 Register
  .row

    .sign-up.col-md-8.col-md-offset-2
      %br

      = bootstrap_form_for(@parent)do |f|
        -#- if @swimmer.errors.any?
        -#  #error_explanation
        -#    %h2= "#{pluralize(@swimmer.errors.count, "error")} prohibited this swimmer from being saved:"
        -#    %ul
        -#      - @swimmer.errors.full_messages.each do |msg|
        -#        %li= msg

        .col-md-4
          =f.select :relation,Parent::RELATION,label: 'Relation:'
          =f.hidden_field :user_id, value: session[:temp_user_id]

          -#.input= select_tag 'swimmer_ids[]', options_for_select(@swimmers.collect{ |u| [u.swimmer_name, u.id] },{:multiple => :multiple, :size => 10})

          %hr
          = f.fields_for :address do |address|
            = render partial: 'shared/address', locals: {f: address}

          .actions
            = f.submit 'Save'

            -#= select_tag 'swimmer_ids[]', options_for_select(@swimmers.collect{ |u| [u.swimmer_name, u.id] },{:multiple => :multiple, :size => 10})




