
.row.sign-up

  .go.col-md-4.col-md-offset-1

    %br

    = bootstrap_form_for(@parent)do |f|

      .col-md-9
        =f.select :relation,Parent::RELATION,label: 'Relation:'
        =f.hidden_field :user_id, value: session[:tmp_parent_user_id] unless current_user
        =f.hidden_field :user_id, value: current_user.id if current_user
        %input{type: 'hidden',name: 'swimmer[ids][]', require: true,id: 'new_parent'}

        %hr
        = f.fields_for :address do |address|
          = render partial: 'shared/address_form', locals: {f: address}

        .actions
          = f.submit 'Submit',{class: 'btn btn-primary btn-large',id:'parent_submit'}
          %br
          %br

          =link_to 'Cancel registration', cancel_parent_registration_parents_path(:tmp_parent_user_id),data: {confirm: 'Are you sure?'}, class: 'col-md-9 btn  btn-danger' unless current_user

        %br
        %br


  .col-md-3
    %br
    .alert.alert-warning
      %h4 Add child/children
    #child_form
      = render 'child_form'
    #check
  .col-md-2.col-md-offset-1
    %br
    .alert.alert-warning
      %h4 Your child/children
    .col-md-12.col-md-offset-1
      - if current_user
        #parent-swimmer
          #swimmer
            %ul
              - current_user.parent.swimmers.each do |swimmer|
                %li= swimmer.swimmer_name
      -unless current_user
        #parent-swimmer
          %ol
            #swimmer




