%p#notice= notice
=debug @parent
%p
  %b Relation:
  = @parent.relation
%p
  %b User:
  = @parent.user

= link_to 'Edit', edit_parent_path(@parent)
\|
= link_to 'Back', parents_path


-#%script
-#:javascript
-#  $('document').ready(function(){
-#  var js_array = [<%= raw @parent.to_json %>]
-#  alert('hi')
-#  alert(js_array)

:javascript
  var v = #{@parent}
