.times

  = bootstrap_form_for @swimmer_time, remote: true do |f|
    - if @swimmer_time.errors.any?
      #error_explanation
        %h2= "#{pluralize(@swimmer_time.errors.count, "error")} prohibited this swimmer_time from being saved:"
        %ul
          - @swimmer_time.errors.full_messages.each do |msg|
            %li= msg
    .row
      .input.col-md-2
        = f.collection_select(:swimmer_id, @swimmers, :id, :swimmer_name)
      -#.input.col-md-1
      -#  = f.select :age, SwimmerTime::AGE
      .input.col-md-2
        = f.select :stroke, SwimmerTime::STROKE_TYPES
      .input.col-md-1
        = f.select :distance, SwimmerTime::DISTANCE
      -#.input.col-md-2
      -#  = f.text_field :club
      .input.col-md-2
        = f.select :course, ['Long Course', 'Short Course']
      .input.col-md-2
        = f.text_field :venue,  required: true, label: 'Meet'
      .input.col-md-2
        =f.text_field :date,  required: true
    .row
      .input.col-md-1
        #swimmer-time= f.select :minutes, SwimmerTime::MINUTES,label: 'Min:'
      .input.col-md-1
        = f.select :seconds, SwimmerTime::SECONDS,label: 'Sec:'
      .input.col-md-1
        = f.select :milli_seconds, SwimmerTime:: MILLI_SECONDS, label: 'Ms:'

    .actions.col
      %br
      = f.submit 'Add', :class=>'btn btn-success btn-lg'


  %br
  %br
