!!!
%html
  %head
    %title SwimmingClub

    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    = stylesheet_link_tag "application", media: :all
    = javascript_include_tag '//www.google.com/jsapi', 'chartkick'
    = javascript_include_tag 'https://code.angularjs.org/1.3.0-beta.5/angular.js'







    = javascript_include_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body
    -#.flash-messages
    -#  - flash.each do |name, msg|
    -#    - if name == 'temp_user_id'
    -#    - else
    -#      .alert.fade.in{ class: "alert-#{flash_class(name)}" }
    -#        %a.close{ data: { dismiss: :alert } } &times;
    -#
    .flash-messages
      - flash.each do |name, msg|
        .alert.fade.in{ class: "alert-#{flash_class(name) unless msg.blank?}" }
          %a.close{ data: { dismiss: :alert } } &times;
          = msg      = msg
    #wrap
      %nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .row
            .col-md-11.col-md-offset-1
              .row
                .col-md-9.col-md-offset-1
                  -#= image_tag('Web Header_img.jpg', alt: 'Edit Entry')
                  %img{src: image_path('Web Header_img.jpg'), height: "80", width: "100%"}
              -#.col-md-3
              -#  %img{src: image_path('SCSC-Logo.jpg'), height: "80", width: "100%"}
              .row
                .col-md-10.col-md-offset-1
                  .navbar-header

                    %button.navbar-toggle{ data: { target: ".navbar-collapse", toggle: :collapse, type: :button } }
                      %span.icon-bar
                      %span.icon-bar
                      %span.icon-bar
                  .collapse.navbar-collapse

                    %ul.nav.navbar-nav
                      - if user_signed_in?
                        = navbar_link_to home_path, title: 'HomePage', identifier: :home do
                          %i.icon-home
                          HOME
                        -if events_notification_number > 0
                          %ul.nav.navbar-nav
                            %li.dropdown{class: (:active if @current_nav_identifier == :calendar)}
                              %a.dropdown-toggle{'data-toggle' => 'dropdown', 'data-target' => '', href:  calendar_index_path}
                                %i.icon-edit
                                Calendar
                                %b.caret
                                -if events_notification_number > 0
                                  .badge.badge-important{style: 'background-color:red'}= events_notification_number
                                  -#%b.caret
                                  %ul.dropdown-menu
                                    -get_notifications('Event').each do |event|
                                      = navbar_link_to (link_to_event event.id), title: "Events" do
                                        %i.icon-comments
                                        =event.title
                                    = navbar_link_to calendar_index_path, title: 'Calandar' do
                                      %i.icon-money
                                      Calendar
                        -else
                          = navbar_link_to calendar_index_path, title: 'Calandar', identifier: :calendar do
                            %i.icon-calendar
                              Calendar

                        %ul.nav.navbar-nav
                          %li.dropdown{class: (:active if @current_nav_identifier == :times)}
                            %a.dropdown-toggle{'data-toggle' => 'dropdown', 'data-target' => '', :href => ''}
                              %i.icon-time
                              = 'Times'
                              %b.caret
                            %ul.dropdown-menu

                              = navbar_link_to swimmer_times_path, title: 'Times' do
                                %i.icon-time
                                Search Times
                              = navbar_link_to best_times_swimmer_times_path, title: 'My Payment' do
                                %i.icon-time
                                Best Club Times
                              = navbar_link_to best_times_swimmer_times_path, title: 'My Payment' do
                                %i.icon-time
                                Compare Times
                              - if user_signed_in? && (current_user.role? 'Swimmer')
                                = navbar_link_to swimmer_times_swimmer_path(current_user.swimmer), title: 'My Time' do
                                  %i.icon-time
                                  My Times

                              - if user_signed_in? && (current_user.role? 'Parent')
                                - current_user.parent.swimmers.each do |swimmer|
                                  = navbar_link_to swimmer_times_swimmer_path(swimmer), title: 'Payments' do
                                    %i.icon-time
                                    = "#{swimmer.user.first_name}'s times"



                        - if current_user.role? 'Administrator'
                          = navbar_link_to users_index_path, title: 'Register', identifier: :users do
                            %i.icon-group
                            Users


                        - if current_user.check_roles %w(Welfare\ Officer Swimmer Parent)
                          = navbar_link_to swimmers_path, title: 'Medical Condition', identifier: :medical do
                            %i.icon-ambulance
                            Medical


                        - if current_user.check_roles %w(Administrator Committee Swimmer Parent)
                          %ul.nav.navbar-nav
                            %li.dropdown{class: (:active if @current_nav_identifier == :payments)}
                              %a.dropdown-toggle{'data-toggle' => 'dropdown', 'data-target' => "#", :href => '#'}
                                %i.icon-money
                                = 'Payments'
                                %b.caret
                              %ul.dropdown-menu
                                - if user_signed_in? && (current_user.role? 'Administrator') || (current_user.role? 'Committee')
                                  = navbar_link_to new_payment_path, title: 'New Payment' do
                                    %i.icon-money
                                    Add New Payment
                                  = navbar_link_to payments_path, title: 'Payments' do
                                    %i.icon-money
                                    View Payments
                                - if user_signed_in? && (current_user.role? 'Swimmer')
                                  = navbar_link_to payment_swimmer_path(current_user.swimmer), title: 'My Payment' do
                                    %i.icon-money
                                    Your Payment History
                                - if user_signed_in? && (current_user.role? 'Parent')
                                  - current_user.parent.swimmers.each do |swimmer|
                                    = navbar_link_to payment_swimmer_path(swimmer), title: 'My Payment' do
                                      %i.icon-money
                                      ="#{swimmer.user.first_name} Payment History"

                      = navbar_link_to users_profile_path, title: 'Profile', identifier: :profile do
                        %i.icon-user
                        My Profile
                      - if user_signed_in?
                        = navbar_link_to destroy_user_session_path,method: :delete, title: 'Log Out', identifier: :logout do
                          %i.icon-signout
                          Log Out
                          .cart
                            .badge.badge-alert= "Hi #{current_user.first_name}"

                        -##current_user.pull-right="Hi #{current_user.first_name}"
                      -else
                        = navbar_link_to new_user_session_path, method: :get, title: 'Log In', identifier: :login do
                          %i.icon-signin
                          Log In

      #navbar-background
      #main-container.container= yield

    #footer
      .container
        %p
          &copy;#{Date.today.year} Sheffield City Swimming Club