!!!
%html
  %head
    %title SwimmingClub

    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    = stylesheet_link_tag "application", media: :all
    = javascript_include_tag "//www.google.com/jsapi", 'chartkick'

    = javascript_include_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body
    .flash-messages
      - flash.each do |name, msg|
        - if name == 'temp_user_id'
        - else
          .alert.fade.in{ class: "alert-#{flash_class(name)}" }
            %a.close{ data: { dismiss: :alert } } &times;
            = msg
    #wrap
      %nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          -#.navbar-header
          -#  %button.navbar-toggle{ data: { target: ".navbar-collapse", toggle: :collapse, type: :button } }
          -#    %span.icon-bar
          -#    %span.icon-bar
          -#    %span.icon-bar
          .collapse.navbar-collapse
            %ul.nav.navbar-nav

              = navbar_link_to home_path, title: 'HomePage', identifier: :home do
                %i.icon-home
                HOME
              = navbar_link_to swimmer_times_path, title: 'Times', identifier: :times do
                %i.icon-time
                Times
              = navbar_link_to new_user_registration_path, title: 'Register', identifier: :register do
                %i.icon-user
                Register
              = navbar_link_to users_index_path, title: 'Register', identifier: :register do
                %i.icon-user
                Users
              - if user_signed_in?
                = navbar_link_to destroy_user_session_path,method: :delete, title: 'Log Out', identifier: :logout do
                  %i.icon-signout
                  Log Out
              -else
                = navbar_link_to user_session_path, method: :Post, title: 'Log In', identifier: :login do
                  %i.icon-signin
                  Log In
            -#%ul.nav.navbar-nav
            -#  = navbar_link_to :calendars, title: "Event Calendar", identifier: :calendar do
            -#    %i.icon-calendar
            -#    EVENT CALENDAR


      #navbar-background
      #main-container.container= yield

    #footer
      .container
        %p
          &copy;#{Date.today.year} Swimming Club
